extends layout

block bodyContent
  div.search
    p.text-center Filtering Content will go here
    script(type='text/javascript', src='../components/loaddocuments.js')
  div
      .section
      .container
        .row
          .col-md-12.center-block
            ul.list-group.documentview
              div.document0
              div.document1
              div.document2
              div.document3
              div.document4
              div.document5
              div.document6
              div.document7
              div.document8
              div.document9