head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  //script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script(type='text/javascript', src='https://code.jquery.com/jquery-3.1.1.min.js')
  script(type='text/javascript', src='http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  script(type='text/javascript', src='https://unpkg.com/react@15.3.1/dist/react.js')
  script(type='text/javascript', src='https://unpkg.com/react-dom@15.3.1/dist/react-dom.js')
  link(href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
  link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', text='text/css')
  link(href='../css/main.css', rel='stylesheet', type='text/css')
header
  .section
    .container
      .row
        .col-lg
          ul.nav.nav-tabs
            li
              a(href='/') Home
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown', href='#') Documents
              ul.dropdown-menu
                li
                  a(href='documents#featured') Featured Documents
                li
                  a(href='documents') All Documents
            li
              a(href='visiting') Visiting
block bodyContent
  footer
    .section
      .container
        .row
          .col-lg
            p Work-in-progress
